
<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="side-bar">
        <div class="side-bar-header">
          <div class="header-name">
            <a> TOM </a>
          </div>
          <div class="create-room">
            <a>チャットを作成する</a>
          </div>
        </div>
        <div class="rooms">
          <div class="room">
            <div class="room-name">
              <a href="/rooms/204/messages">aaa</a>
            </div>
          </div>
          <div class="room">
            <div class="room-name">
              <a href="/rooms/214/messages">bbb</a>
            </div>
         </div> 
       </div>  
      </div>
      <div class="chat">
        <div class="chat-header">
        </div>
        <div class="messages"> </div>
        <div class='form'>
        </div>
      </div>
    </div>
  </body>
</html>
